# 01. Importing libraries

In [32]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02 Importing data

In [35]:
# Establish path
path = r'C:\Users\elena\Documents\02.2025 Instacart Basket Analysis'

In [43]:
# Import the big merged datafile
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_newcolms.pkl'))

In [44]:
# create smaller subset of data to work with
df = ords_prods_merge[:1000000]

In [45]:
# checking that only a portion of data is in the dataframe
df.shape

(1000000, 17)

In [49]:
# checking the data columns
df.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day
0,2,33120,1,1,202279,3,5,9,8.0,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Most orders
1,2,28985,2,1,202279,3,5,9,8.0,Michigan Organic Kale,83,4,13.4,both,Mid-range product,Regularly busy,Most orders
2,2,9327,3,0,202279,3,5,9,8.0,Garlic Powder,104,13,3.6,both,Low-range product,Regularly busy,Most orders
3,2,45918,4,1,202279,3,5,9,8.0,Coconut Butter,19,13,8.4,both,Mid-range product,Regularly busy,Most orders
4,2,30035,5,0,202279,3,5,9,8.0,Natural Sweetener,17,13,13.7,both,Mid-range product,Regularly busy,Most orders

# 03 Grouping and aggregating data

In [52]:
# Group dataframe by product name
df.groupby('product_name')

Grouping was successful but it is not replected in the output

In [55]:
# Calculating average number of orders for different departments
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.631923
2                18.463588
3                17.392137
4                17.987018
5                14.406216
6                16.522868
7                17.413377
8                16.041537
9                16.085617
10               21.290293
11               16.495616
12               16.088761
13               16.786922
14               16.896906
15               16.446416
16               17.816190
17               16.074577
18               19.190331
19               17.405391
20               16.677818
21               23.262204

In [57]:
# Calculating the same mean without the aggregate function
df.groupby('department_id')['order_number'].mean()

department_id
1     15.631923
2     18.463588
3     17.392137
4     17.987018
5     14.406216
6     16.522868
7     17.413377
8     16.041537
9     16.085617
10    21.290293
11    16.495616
12    16.088761
13    16.786922
14    16.896906
15    16.446416
16    17.816190
17    16.074577
18    19.190331
19    17.405391
20    16.677818
21    23.262204
Name: order_number, dtype: float64

In [59]:
# Calculating multiple statistics for different departments
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.631923   1  99
2                18.463588   1  97
3                17.392137   1  99
4                17.987018   1  99
5                14.406216   1  99
6                16.522868   1  99
7                17.413377   1  99
8                16.041537   1  96
9                16.085617   1  99
10               21.290293   1  99
11               16.495616   1  99
12               16.088761   1  99
13               16.786922   1  99
14               16.896906   1  99
15               16.446416   1  99
16               17.816190   1  99
17               16.074577   1  99
18               19.190331   1  99
19               17.405391   1  99
20               16.677818   1  99
21               23.262204   1  98

# 04 Aggregating and transforming data

In [62]:
# Creating max order column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\elena\AppData\Local\Temp\ipykernel_18820\883278450.py:2: FutureWarning: The provided callable <function max at 0x000001878BC5C540> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [68]:
ords_prods_merge.head(15)

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2,33120,1,1,202279,3,5,9,8.0,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Most orders,8
1,2,28985,2,1,202279,3,5,9,8.0,Michigan Organic Kale,83,4,13.4,both,Mid-range product,Regularly busy,Most orders,8
2,2,9327,3,0,202279,3,5,9,8.0,Garlic Powder,104,13,3.6,both,Low-range product,Regularly busy,Most orders,8
3,2,45918,4,1,202279,3,5,9,8.0,Coconut Butter,19,13,8.4,both,Mid-range product,Regularly busy,Most orders,8
4,2,30035,5,0,202279,3,5,9,8.0,Natural Sweetener,17,13,13.7,both,Mid-range product,Regularly busy,Most orders,8
5,2,17794,6,1,202279,3,5,9,8.0,Carrots,83,4,10.7,both,Mid-range product,Regularly busy,Most orders,8
6,2,40141,7,1,202279,3,5,9,8.0,Original Unflavored Gelatine Mix,105,13,11.5,both,Mid-range product,Regularly busy,Most orders,8
7,2,1819,8,1,202279,3,5,9,8.0,All Natural No Stir Creamy Almond Butter,88,13,11.5,both,Mid-range product,Regularly busy,Most orders,8
8,2,43668,9,0,202279,3,5,9,8.0,Classic Blend Cole Slaw,123,4,7.5,both,Mid-range product,Regularly busy,Most orders,8
9,3,33754,1,1,205970,16,5,17,12.0,Total 2% with Strawberry Lowfat Greek Strained...,120,16,11.8,both,Mid-range product,Regularly busy,Average orders,25
10,3,24838,2,1,205970,16,5,17,12.0,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Regularly busy,Average orders,25
11,3,17704,3,1,205970,16,5,17,12.0,Lemons,123,4,10.0,both,Mid-range product,Regularly busy,Average orders,25
12,3,21903,4,1,205970,16,5,17,12.0,Organic Baby Spinach,123,4,8.2,both,Mid-range product,Regularly busy,Average orders,25
13,3,17668,5,1,205970,16,5,17,12.0,Unsweetened Chocolate Almond Breeze Almond Milk,91,16,6.6,both,Mid-range product,Regularly busy,Average orders,25
14,3,46667,6,1,205970,16,5,17,12.0,Organic Ginger Root,83,4,6.9,both,Mid-range product,Regularly busy,Average orders,25

In [74]:
# Wated to examine more rows of data on screen, so removed the preexisting limitation 
pd.options.display.max_rows = None

In [ ]:
ords_prods_merge.head(100)

Output was examined and cleared to make the notebook file smaller.

In [93]:
# Defining the new 'loyalty_flag' variable

In [77]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [79]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [83]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [95]:
# Checking the new 'loyalty_flag' variable
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15874128
Loyal customer      10282763
New customer         6242841
Name: count, dtype: int64

In [97]:
# Looking at 60 row of the select columns of the dataframe
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0    202279      New customer             3
1    202279      New customer             3
2    202279      New customer             3
3    202279      New customer             3
4    202279      New customer             3
5    202279      New customer             3
6    202279      New customer             3
7    202279      New customer             3
8    202279      New customer             3
9    205970  Regular customer            16
10   205970  Regular customer            16
11   205970  Regular customer            16
12   205970  Regular customer            16
13   205970  Regular customer            16
14   205970  Regular customer            16
15   205970  Regular customer            16
16   205970  Regular customer            16
17   178520    Loyal customer            36
18   178520    Loyal customer            36
19   178520    Loyal customer            36
20   178520    Loyal customer            36
21   178520    Loyal customer            36
22   178520    Loyal customer            36
23   178520    Loyal customer            36
24   178520    Loyal customer            36
25   178520    Loyal customer            36
26   178520    Loyal customer            36
27   178520    Loyal customer            36
28   178520    Loyal customer            36
29   178520    Loyal customer            36
30   156122    Loyal customer            42
31   156122    Loyal customer            42
32   156122    Loyal customer            42
33   156122    Loyal customer            42
34   156122    Loyal customer            42
35   156122    Loyal customer            42
36   156122    Loyal customer            42
37   156122    Loyal customer            42
38   156122    Loyal customer            42
39   156122    Loyal customer            42
40   156122    Loyal customer            42
41   156122    Loyal customer            42
42   156122    Loyal customer            42
43   156122    Loyal customer            42
44   156122    Loyal customer            42
45   156122    Loyal customer            42
46   156122    Loyal customer            42
47   156122    Loyal customer            42
48   156122    Loyal customer            42
49   156122    Loyal customer            42
50   156122    Loyal customer            42
51   156122    Loyal customer            42
52   156122    Loyal customer            42
53   156122    Loyal customer            42
54   156122    Loyal customer            42
55   156122    Loyal customer            42
56    22352      New customer             4
57    22352      New customer             4
58    22352      New customer             4
59   142903  Regular customer            11

The section of data shows that 'loyalty_flag' column was created correctly

# 05 Exercise 4.8.2 - 4.8.9

In [111]:
# The aggregated mean of the “order_number” column grouped by “department_id” - Exercise 4.8.2
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.667853
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

Exercise 4.8.3: The means for the whole dataframe are very similar to the means for the first 1 million rows, although for most deparments, the whole dataframe averages are slightly smaller. This suggests than the subsection selected happened to contain a few higher order numbers.

In [149]:
# Descriptive statistics for prices of products purchased by each category of customer: loyal, regular and new - Exercise 4.8.5
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['min', 'max','mean', 'std', 'median']})

                 prices
                    min   max      mean       std median
loyalty_flag
Loyal customer      1.0  25.0  7.773575  4.206151    7.4
New customer        1.0  25.0  7.801206  4.266834    7.4
Regular customer    1.0  25.0  7.798262  4.254886    7.4

The products bought by the three loyalty groups have the same median price and very similar means. Thus loyal customers do not tend to buy more expensive products than regular or new customers.

In [131]:
# Creating 'mean_price' column with average product price for each user 
ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [133]:
# Checking that 'mean_price' column was defined correctly
ords_prods_merge.head(10)

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price
0,2,33120,1,1,202279,3,5,9,8.0,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889
1,2,28985,2,1,202279,3,5,9,8.0,Michigan Organic Kale,83,4,13.4,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889
2,2,9327,3,0,202279,3,5,9,8.0,Garlic Powder,104,13,3.6,both,Low-range product,Regularly busy,Most orders,8,New customer,8.618889
3,2,45918,4,1,202279,3,5,9,8.0,Coconut Butter,19,13,8.4,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889
4,2,30035,5,0,202279,3,5,9,8.0,Natural Sweetener,17,13,13.7,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889
5,2,17794,6,1,202279,3,5,9,8.0,Carrots,83,4,10.7,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889
6,2,40141,7,1,202279,3,5,9,8.0,Original Unflavored Gelatine Mix,105,13,11.5,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889
7,2,1819,8,1,202279,3,5,9,8.0,All Natural No Stir Creamy Almond Butter,88,13,11.5,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889
8,2,43668,9,0,202279,3,5,9,8.0,Classic Blend Cole Slaw,123,4,7.5,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889
9,3,33754,1,1,205970,16,5,17,12.0,Total 2% with Strawberry Lowfat Greek Strained...,120,16,11.8,both,Mid-range product,Regularly busy,Average orders,25,Regular customer,8.681734

In [143]:
# Defining 'low spenders' and 'high spenders' based in the 'mean_price variable - Exercise 4.8.6
ords_prods_merge.loc[ords_prods_merge['mean_price'] < 10, 'spending_flag'] = 'Low spender'

In [145]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'spending_flag'] = 'High spender'

In [147]:
# Checking the frequency of low and high spenders in this database
ords_prods_merge['spending_flag'].value_counts(dropna=False)

spending_flag
Low spender     32280013
High spender      119719
Name: count, dtype: int64

In [153]:
# Creating 'prior_order_days_median' column indicating the median number of days since prior order for each user
ords_prods_merge['prior_order_days_median'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [155]:
# Checking that the new column was created
ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,...,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,prior_order_days_median
0,2,33120,1,1,202279,3,5,9,8.0,Organic Egg Whites,...,11.3,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889,Low spender,24.0
1,2,28985,2,1,202279,3,5,9,8.0,Michigan Organic Kale,...,13.4,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889,Low spender,24.0
2,2,9327,3,0,202279,3,5,9,8.0,Garlic Powder,...,3.6,both,Low-range product,Regularly busy,Most orders,8,New customer,8.618889,Low spender,24.0
3,2,45918,4,1,202279,3,5,9,8.0,Coconut Butter,...,8.4,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889,Low spender,24.0
4,2,30035,5,0,202279,3,5,9,8.0,Natural Sweetener,...,13.7,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889,Low spender,24.0

In [165]:
# Defining the frequentcustomer_flag - Exercise 4.8.7
ords_prods_merge.loc[ords_prods_merge['prior_order_days_median'] <= 10, 'frequentcustomer_flag'] = 'Frequent customer'

In [161]:
ords_prods_merge.loc[(ords_prods_merge['prior_order_days_median'] > 10) & (ords_prods_merge['prior_order_days_median'] <= 20), 'frequentcustomer_flag'] = 'Regular customer'

In [163]:
ords_prods_merge.loc[ords_prods_merge['prior_order_days_median'] > 20, 'frequentcustomer_flag'] = 'Non-frequent customer'

In [169]:
# Checking the frequency of the categories of frequentcustomer_flag
ords_prods_merge['frequentcustomer_flag'].value_counts(dropna=False)

frequentcustomer_flag
Frequent customer        21556644
Regular customer          7207340
Non-frequent customer     3635743
NaN                             5
Name: count, dtype: int64

Some customers in the data base only made one order, so do not have anything in the 'days_since_prior_order' column (this was discussed during data cleaning). Thus there are 5 values that do not fit into the definitions for 'frequentcustomer_flag'. Customers with only one order can be counted as Non-frequent customers, so the definition can be adjusted accordingly.

In [178]:
ords_prods_merge.loc[ords_prods_merge['prior_order_days_median'].isna(), 'frequentcustomer_flag'] = 'Non-frequent customer'

In [189]:
# Rechecking the frequency of the categories of frequentcustomer_flag
ords_prods_merge['frequentcustomer_flag'].value_counts(dropna=False)

frequentcustomer_flag
Frequent customer        21556644
Regular customer          7207340
Non-frequent customer     3635748
Name: count, dtype: int64

Customers with only one order have successfully been added to the Non-frequent customer category of 'frequentcustomer_flag'.
Exercise 4.8.7 completed.

In [185]:
# Checking that the 'frequentcustomer_flag' column was created in the dataframe
ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_name,...,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,prior_order_days_median,frequentcustomer_flag
0,2,33120,1,1,202279,3,5,9,8.0,Organic Egg Whites,...,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889,Low spender,24.0,Non-frequent customer
1,2,28985,2,1,202279,3,5,9,8.0,Michigan Organic Kale,...,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889,Low spender,24.0,Non-frequent customer
2,2,9327,3,0,202279,3,5,9,8.0,Garlic Powder,...,both,Low-range product,Regularly busy,Most orders,8,New customer,8.618889,Low spender,24.0,Non-frequent customer
3,2,45918,4,1,202279,3,5,9,8.0,Coconut Butter,...,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889,Low spender,24.0,Non-frequent customer
4,2,30035,5,0,202279,3,5,9,8.0,Natural Sweetener,...,both,Mid-range product,Regularly busy,Most orders,8,New customer,8.618889,Low spender,24.0,Non-frequent customer

# 6 Exporting the dataframe to a pickle file - Exercise 4.8.9

In [ ]:
# Exporting ords_prods_merge data into prepared data folder as a pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_4.8.pkl'))